.sectionContainer{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ital{
  font-style: italic;
  color: var(--grayBlue);
}

.aboutContainer{
  display:flex;
  /* justify-content: center; */
  align-items: center;
  gap: 100px;
}

.aboutRight{
  width:500px;
}

.aboutLeft img{
  max-width: 300px;
}

.borderElement{
  width:80%;
  border-bottom: 1px solid var(--leather);
  margin-top:50px;
}

.connectContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.connectContainer a{
  text-decoration: none;
  color: var(--leather);
  transition: 250ms;
}

.connectContainer a:hover{
  color: var(--linenWhite)
}

.photo{
  border-radius: 50px;
}

.linkContainer{
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 50px;
}