.sectionContainer{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero{
  padding: 80px 0;
  display: flex;
  justify-content: center;
  gap: 250px;
  width:100%;
}

.heroLeft{
  /* width: 33%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
}

.heroLeft h1{
  font-size: 40px;
}

.heroLeft :nth-child(2){
  top: 20px;
  left: -145px;
}

.heroLeft :nth-child(3){
  /* left: 50px; */
}

.heroLeft :last-child{
  top: -30px;
  left: 150px;
}

/* .heroLeft :nth-child(2)::after{
  content: url('../../../public/amp.png');
  position: absolute;
  top: 8px;
  left:205px;
  color: var(--leather)
} */

.heroLeft div{
  font-size: 22px;
  position: relative;
}

.headShot{
  max-width: 300px;
  max-height: 300px;
  border-radius: 10px;
}