.sectionContainer{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero{
  margin-top: 80px;
  display: flex;
  justify-content: center;
  gap: 250px;
  width:100%;
}

.heroLeft{
  width: 33vw;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-top: 50px;
}

.heroLeft h1{
  font-size: 40px;
}

.heroLeft :nth-child(2){
  left: -180px;
}

.heroLeft :last-child{
  top:20px;
  left: 125px;
}

.heroLeft :nth-child(2)::after{
  content: "&";
  /* padding-left: 15px; */
  font-size: 90px;
  position: absolute;
  top:-22px;
  left:230px;
  color: var(--leather)
}

.heroLeft div{
  font-size: 22px;
  position: relative;
}

.headShot{
  max-width: 300px;
  max-height: 300px;
  border-radius: 10px;
}