.navContainer{
  padding: 5vh;
  display: flex;
  justify-content: center;
  gap: 5vw;
  position: fixed;
  top:0;
  width: 100vw;
  overflow: hidden;
  background: linear-gradient(to top,rgba(25, 74, 80,0), rgba(25, 74, 80,1))
}

.navLink{
  font-weight: 600;
  font-size: 18px;
}

.navLink:hover{
  cursor: pointer;
}